<%= form_with(model: papu, local: true) do |form| %>
  <% if papu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(papu.errors.count, "error") %> prohibited this papu from being saved:</h2>

      <ul>
      <% papu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :views %>
    <%= form.number_field :views %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
