<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @papu.title %>
</p>

<p>
  <strong>Views:</strong>
  <%= @papu.views %>
</p>

<%= link_to 'Edit', edit_papu_path(@papu) %> |
<%= link_to 'Back', papus_path %>
