.row.no-margin
  .col-xs-12.no-padding
    -# Table
    %table.table
      %thead
        - model = "tests"

        - attributes = ["title", "description"]

        -# Render table header
        = render partial: "partials/table_header", locals: {model: model, attributes: attributes}

      %tbody
        - @tests.each do |test|
          %tr{class: "clickable-row #{test.status}", "data-href": "#{test_path(test)}"}
            -# Set attributes
            - attributes = ["name", "description"]

            %td
              = link_to test_path(test), class: "record-link", "data-header": "No." do
                %p= test.id

            - attributes.each do |attribute|
              %td
                = link_to test_path(test), class: "record-link", "data-header": t("activerecord.attributes.test.#{attribute}") do
                  %p= test["#{attribute}"]
    -# End Table


.row.no-margin
  .col-xs-12.no-padding.text-center
    -# Pagination
    = will_paginate @tests, renderer: BootstrapPagination::Rails
    -# End Pagination
